/* Base styles */
.footer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer-section {
    flex-basis: 100%;
    margin-bottom: 10px; 
  }
  
  .links ul,
  .social-icons ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .links li {
    display: inline; 
    margin-right: 10px;
  }
  
  .links a,
  .social-icons a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .links a:hover,
  .social-icons a:hover {
    color: #007bff;
  }
  
  /* Tablet styles */
  @media (min-width: 768px) {
    .footer-section {
        flex-basis: 100%; /* Take full width */
        margin-bottom: 10px;
    }
  }
  
  /* Desktop styles */
  @media (min-width: 1024px) {
    .footer-section {
      flex-basis: calc(33.33% - 10px); /* Divide into 3 columns */
    }
  }
  
  /* Mobile styles */
  @media (max-width: 767px) {
    .footer-section {
      flex-basis: 100%; /* Take full width */
    }
  }
  